.NavMiddle__container ul{
    display: flex;
}

.NavMiddle__container li{
    list-style: none;
    padding: 1rem;
}

.NavMiddle__container li a{
    color: white;
    text-decoration: none;
}

.NavMiddle__container li a:hover{
    padding-bottom: 17px;
    border-bottom: 7px solid #225DAB;
    transition: .5s;
}


