.container__home_agenda{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.header__home_agenda{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;

    margin-bottom: 4vh;
}

.header__home_agenda span{
    height: .4rem;
    width: 80%;
    background-color: blue;
    border-radius: 2rem;
}



