.map-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 5vh;
}

.infoWindow{
    max-width: 200px;
}

.infoWindow a{
    font-size: 1rem;
}

