.slider__container{
    margin-bottom: 10vh;
}

.slider__container img{
    width: 100%;
    max-height: 80vh;

    object-fit: fill;
    align-items: center;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.slick-dots{
    top: 85% !important;
}

.slick-dots li button:before {
    color: white;
}

.slick-dots li.slick-active button:before{
    opacity: .75;
    color: rgb(255, 255, 255);
}



